/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  position: relative;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  list-style: none;
}
.pages {
  margin-top: 14vh;
}
